
<body>
	<header class="navigation">
		<h1 class="logo">Bitácora de viajes</h1>
		<nav>
			<ul class= "nav-bar">
			<li><%= link_to 'Inicio', home_path %></li>
				
				<% if user_signed_in? %>
				<li><%= link_to 'Crea tu Bitácora', new_bitacora_path %></li>
				<li><%= link_to 'Salir', destroy_user_session_path, method: :delete	%></li>
				<% else %>
				<li><%= link_to 'Regístrate', new_user_registration_path %></li>
				<li><%= link_to 'Identificate', new_user_session_path %></li>
				<% end %>

				
			  	
			</ul>
		</nav>
	</header>

	<section class="background">
	</section>

	<section class="info">
		<article class="gif"></article>
		<article class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, libero quae nulla. Autem blanditiis v <a href="javascript:void();">¿Preparado para crear tu bitácora?
		<span>¿A qué esperas para crear tu bitácora?</span></a>.</article>
		
	</section>

	<section class="tutorial1">
		<article class="item1">
			<div class="city">
				<div class = "info1">
				<p id = "headline1">Ciudad</p>
				</div>
			</div>
			<div class = "title1">
				<h4>Elige Tu ciudad</h4>
				<p>Lorem ipsum....</p>
			</div>
		</article>
			
	</section>
	<section class="tutorial2">
		<article class="item2">
			<div class="calendar">
				<div class = "info2">
					<p id = "headline2">Calendario</p>
				</div>
			</div>
			<div class = "title2">
				<h4>Elige la fecha</h4>
				<p>Lorem ipsum....</p>
			
		</article>
	</section>

	<section class="tutorial3">
		<article class="item3">
			<div class="plans">
				<div class = "info3">
				<p id = "headline3">Planes</p>
				</div>
			<div class = "title3">
				<h4>Elige tus planes</h4>
				<p>Lorem ipsum....</p>
				</div>
		</article>
	</section>

<button class="btn btn-default boton" type="submit">
<%= link_to 'Crea tu Bitácora', new_bitacora_path %></button>



	<footer>
		<div class= "footer">CreaTuBitacora 2014</div>
 
 	

	</footer>

</body>
</html>

