<header class="navigation">
	<h1 class="logo">Bitácora de viajes</h1>
	<nav>
		<ul class= "nav-bar">
			<li><%= link_to 'Crea tu Bitácora', new_bitacora_path, {:style => 'color: #FFFFFF'} %></li>
			
			<% if user_signed_in? %>

			<li class = "hello">Hola, <%= current_user.name %>!</h2></li>
			<li class = "out"><%= link_to 'Salir', destroy_user_session_path, :style => 'color: #FFFFFF', method: :delete  %></li>
			<% else %>
			<li><%= link_to 'Regístrate', new_user_registration_path  %></li>
			<li><%= link_to 'Identificate', new_user_session_path  %></li>
		
			<% end %>							  	
		</ul>
	</nav>
</header>

<div class="bitacoras">

	<% @bitacoras.each do |bitacora| %>
		<article class="bitacora container">
					
			<li class = "list"><b>Nombre:</b> <%= bitacora.name %></li>
			<li class = "list"><b>Fecha:</b> <%= bitacora.fecha %></li>
			<li class = "list"><b>Provincia:</b><%= bitacora.provincia %></li>
			<li class = "list"><b>Visitas:</b> <%= bitacora.visitas %></li>
			<li class = "list"><b>Acompañantes:</b> <%= bitacora.acompañantes %></li>
			<li class = "list"><b>Anécdotas:</b> <%= bitacora.anecdotas %></li>
			

		</article>
		<article class="bitacora-btn">
			<button type="button" class="btn btn-danger letter"><%= link_to 'Eliminar', bitacora_path(bitacora),
		 			method: :delete, data:
		            {confirm: 'Estás seguro?'}
		            %></button>

			<button type="button" class="btn btn-info letter"><%= link_to 'Nueva Bitácora', new_bitacora_path %></button>
			

		</article>
	<% end %>
</div>


	<%= form_for(@bitacora) do |f| %>
	  <% if @bitacora.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@bitacora.errors.count, "error") %> prohibited this bitacora from being saved:</h2>

	      <ul>
	      <% @bitacora.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	
	<section class = "book container">
		
		<form action = "">
		
 			<ul class= "formulario">
			    <div class="form-group input-group">
			    <%= f.label :nombre %>
			    <%= f.text_field :name, :class => "form-control margin-left: 390px" %>
			  </div>
			  <div class="form-group input-group">
			    <%= f.label :provincia %>
			    <%= f.text_field :provincia, :class => "form-control col-xs-3" %>
			  </div>
			  <div class="form-group input-group">
			    <%= f.label :fecha %>
			    <%= f.text_field :fecha, :class => "form-control" %>
			  </div>
			  <div class="form-group input-group">
			    <%= f.label :visitas %>
			    <%= f.text_field :visitas, :class => "form-control" %>
			  </div>
			  <div class="form-group input-group">
			    <%= f.label :acompañantes %>
			    <%= f.text_field :acompañantes,:class => "form-control" %>
			  </div>
			   <div class="form-group input-group">
			    <%= f.label :anécdotas %>
			    <%= f.text_field :anecdotas, :class => "form-control" %>
			  </div>

	  		
	    	<%= f.submit "Crea tu Bitácora", :class => "btn btn-success", :style => "font-size: 15px" %>
	  		</div>

				<% end %>
		</ul>
	</form>


	</section>

	
</div>

</div>



<footer class = "footer">
	<section class="container">
		<article id = "social">
 			<ul class = "icons">
 				<li><div class = "facebook"></li>
 				<li><div class = "twitter"></li>
 				<li><div class = "instagram"></li>
 				<li><div class = "github"></li>
 			</ul>
 		</article>
		
		<article id = "contact">
			<h3><b>Contacta</b></h3>
			<p>Avenida de Brasil, 55</p>
			<p>Teléfono 91 554 39 75</p>
			<p>Email patri@gmail.com</p>


		</article>
		<div class= "copyRight container">
			<p>2014 Crea tu Bitácora</p>
		</div>
	</section>
	

</footer>